* {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.navbar-brand {
  color: rgb(36, 189, 189);
}

.navbar {
  width: 100%;
  height: 90px;
  background-color: rgb(24, 138, 163);
  color: rgb(27, 141, 170);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.navbar a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  justify-content: flex-end !important;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar h1 {
  color: #fff;
  padding: 14px 0;
  margin: 0px;
  display: inline-block;
}

.navbar .right-components {
  float: right;
}

.index-head {
  color: #cccccc;
  font-size: 6rem;
}

.reg-form {
  margin-left: 25%;
  width: 50%;
  height: auto;
  background-image: linear-gradient(blue, aqua);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  color: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input {
  padding: 0.25rem;
}

/* vote.html */
hr {
  border: 1px dashed #000;
}
.voter-info {
  max-width: 800px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.add-candidate-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.add-candidate-field label {
  display: block;
  width: 100%;
  margin-bottom: .25rem;
}
.add-candidate-field {
  margin-bottom: 1rem;
}
.add-candidate-field input {
  min-width: 400px;
}
