<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add candidates page</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="voter-details">
        <h4>Voter's Details</h4>
        <table border="1" cellpadding="8" cellspacing="0" style="width: 100%;">
          <tbody>
            <tr>
              <td>&nbsp;Name</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Gender</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Sic Number<br /></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Biometric</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;Voted to<br /></td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="candidate-list" id="candidate-list-box">
        <h4>Candidate's List</h4>
        <table
          style="float: left; width: 100%"
          border="1"
          cellspacing="0"
          cellpadding="8"
        >
          <tbody id="candidates-list-box">
            <tr>
              <td>ID</td>
              <td>Candidate's Name</td>
              <td>Candidate's Sic Number</td>
              <td>Number of votes recieved</td>
            </tr>

            <% typeof candidates === "object" && candidates.map((candidate,i)=>
            { %>
            <tr>
              <td><%= candidate.id %></td>
              <td><%= candidate.name %></td>
              <td><%= candidate.sic %></td>
              <td><%= candidate.votes %></td>
            </tr>
            <% }) %>

            <tr>
              <% typeof candidates === "string" && candidates %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      function updateTable(data) {
        console.log(data);
        const candidatesListBox = document.querySelector(
          "#candidates-list-box"
        );
        const table_heading = `<tr>
              <td>ID</td>
              <td>Candidate's Name</td>
              <td>Candidate's Sic Number</td>
              <td>Number of votes recieved</td>
            </tr>`;
        candidatesListBox.textContent = "";
        candidatesListBox.innerHTML = table_heading;
        data.map((d) => {
          const tr = document.createElement("tr");
          tr.innerHTML = `
                <td>${d.id}</td>
              <td>${d.name}</td>
              <td>${d.sic}</td>
              <td>${String(d.votes)}</td>
            `;
          candidatesListBox.appendChild(tr);
        });
      }

      function formDataToDictionary(formData) {
        const dictionary = {};
        for (const [key, value] of formData.entries()) {
          if (dictionary[key]) {
            // Handle multiple values for the same key (optional)
            if (!Array.isArray(dictionary[key])) {
              dictionary[key] = [dictionary[key]];
            }
            dictionary[key].push(value);
          } else {
            dictionary[key] = value;
          }
        }
        return dictionary;
      }
    </script>
  </body>
</html>
